{
  "openapi": "3.0.0",
  "info": {
    "title": "goLance External API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://external-api.golance.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/auth/token": {
      "post": {
        "summary": "Create an access token",
        "description": "Exchanges OAuth 2.0 client credentials for a short-lived Bearer access token. Send the token in the `Authorization` header of subsequent requests. Tokens typically expire after one hour; request a new token when the current one expires. This endpoint does not accept a Bearer token.",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "description": "Client credentials issued for the company OAuth application.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clientId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "clientSecret": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "clientId",
                  "clientSecret"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An access token was issued. Cache `accessToken` until `expiresIn` seconds have elapsed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accessToken": {
                      "type": "string"
                    },
                    "tokenType": {
                      "type": "string",
                      "enum": [
                        "Bearer"
                      ]
                    },
                    "expiresIn": {
                      "type": "number",
                      "minimum": 0,
                      "description": "Expiration time in seconds"
                    }
                  },
                  "required": [
                    "accessToken",
                    "tokenType",
                    "expiresIn"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request body or query parameters failed validation. Returns `validation_error` and field-level `details`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Machine-readable error code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      },
                      "description": "Field-level validation errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The client ID or client secret is incorrect. Returns `invalid_client`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Machine-readable error code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      },
                      "description": "Field-level validation errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "The client exceeded the authentication rate limit of 5 requests per minute per IP address and per client ID. Returns `rate_limited`. Wait for the `Retry-After` header before retrying.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Machine-readable error code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      },
                      "description": "Field-level validation errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "The token could not be issued. Returns `internal_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Machine-readable error code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      },
                      "description": "Field-level validation errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/contracts": {
      "get": {
        "summary": "List contracts",
        "description": "Returns contracts for the company linked to the OAuth application, including the contractor, employer, and assigned team. Results are limited to contracts the authenticated company can access. Filter by one or more statuses and paginate with `page` and `itemsPerPage`.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Contracts"
        ],
        "parameters": [
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "disputing",
                  "closed",
                  "pending",
                  "paused",
                  "open"
                ]
              },
              "description": "Filter by contract status",
              "example": [
                "open",
                "pending"
              ]
            },
            "required": false,
            "name": "statuses",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "example": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100,
              "example": 100
            },
            "required": false,
            "name": "itemsPerPage",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of contracts. If the caller has no accessible company, `results` is empty.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "disputing",
                              "closed",
                              "pending",
                              "paused",
                              "open"
                            ]
                          },
                          "contractor": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id"
                            ]
                          },
                          "employer": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id"
                            ]
                          },
                          "team": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "status",
                          "team"
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "currentPage": {
                          "type": "number"
                        },
                        "itemsPerPage": {
                          "type": "number"
                        },
                        "pagesCount": {
                          "type": "number"
                        },
                        "totalCount": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "currentPage",
                        "itemsPerPage",
                        "pagesCount",
                        "totalCount"
                      ]
                    }
                  },
                  "required": [
                    "results",
                    "pagination"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request body or query parameters failed validation. Returns `validation_error` and field-level `details`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Machine-readable error code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      },
                      "description": "Field-level validation errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. The Bearer token is missing, invalid, expired, or not associated with a user. Common codes: `missing_token`, `invalid_token`, `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Machine-readable error code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      },
                      "description": "Field-level validation errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The token was accepted, but the caller is not allowed to access this resource. Common codes: `forbidden`, `inactive_user`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Machine-readable error code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      },
                      "description": "Field-level validation errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "The client exceeded the rate limit of 200 requests per minute per IP address. Returns `rate_limited`. Wait for the `Retry-After` header before retrying.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Machine-readable error code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      },
                      "description": "Field-level validation errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred while processing the request. Returns `internal_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Machine-readable error code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      },
                      "description": "Field-level validation errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/scheduled-payments": {
      "get": {
        "summary": "List scheduled payments",
        "description": "Returns scheduled payments on fixed-price contracts for the authenticated company over a UTC date range. Each item includes the payment amount, paid amount, status, scheduled date, and parent contract. Filter by team, contractor, or payment status, and sort or paginate the results. The response also includes summary statistics for the same period.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Scheduled Payments"
        ],
        "parameters": [
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "6137109712adad9757ab0e35"
              ]
            },
            "required": false,
            "name": "teamIds",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Start date in YYYY-MM-DD format",
              "example": "2026-08-01"
            },
            "required": true,
            "name": "fromDate",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "End date in YYYY-MM-DD format",
              "example": "2026-08-31"
            },
            "required": true,
            "name": "toDate",
            "in": "query"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "6137109712adad9757ab0e35"
              ]
            },
            "required": false,
            "name": "contractorIds",
            "in": "query"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "upcoming",
                  "processing",
                  "failed",
                  "paid",
                  "deleted"
                ]
              },
              "example": [
                "upcoming",
                "paid"
              ]
            },
            "required": false,
            "name": "scheduledPaymentStatuses",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "required": false,
            "name": "sortOrder",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "scheduledPaymentOn",
                "date",
                "budget",
                "paidAmount",
                "scheduledPaymentStatus",
                "contract",
                "contractor"
              ],
              "default": "scheduledPaymentOn"
            },
            "required": false,
            "name": "sortField",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            },
            "required": false,
            "name": "itemsPerPage",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of scheduled payments plus period-level `statistics`. If the caller has no accessible company, `results` is empty.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "number"
                          },
                          "paidAmount": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "upcoming",
                              "processing",
                              "failed",
                              "paid",
                              "deleted"
                            ]
                          },
                          "scheduledPaymentOn": {
                            "type": "string",
                            "nullable": true,
                            "description": "Scheduled payment date (ISO 8601)"
                          },
                          "contract": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "contractor": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "firstName": {
                                    "type": "string"
                                  },
                                  "lastName": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id"
                                ]
                              },
                              "employer": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "firstName": {
                                    "type": "string"
                                  },
                                  "lastName": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id"
                                ]
                              },
                              "team": {
                                "type": "object",
                                "nullable": true,
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "team"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "amount",
                          "paidAmount",
                          "status",
                          "scheduledPaymentOn",
                          "contract"
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "currentPage": {
                          "type": "number"
                        },
                        "itemsPerPage": {
                          "type": "number"
                        },
                        "pagesCount": {
                          "type": "number"
                        },
                        "totalCount": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "currentPage",
                        "itemsPerPage",
                        "pagesCount",
                        "totalCount"
                      ]
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "contractsCount": {
                          "type": "number"
                        },
                        "scheduledPaymentsCount": {
                          "type": "number"
                        },
                        "paidScheduledPaymentsCount": {
                          "type": "number"
                        },
                        "totalScheduledPaymentsPaidAmount": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "contractsCount",
                        "scheduledPaymentsCount",
                        "paidScheduledPaymentsCount",
                        "totalScheduledPaymentsPaidAmount"
                      ]
                    }
                  },
                  "required": [
                    "results",
                    "pagination",
                    "statistics"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request body or query parameters failed validation. Returns `validation_error` and field-level `details`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Machine-readable error code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      },
                      "description": "Field-level validation errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. The Bearer token is missing, invalid, expired, or not associated with a user. Common codes: `missing_token`, `invalid_token`, `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Machine-readable error code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      },
                      "description": "Field-level validation errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The token was accepted, but the caller is not allowed to access this resource. Common codes: `forbidden`, `inactive_user`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Machine-readable error code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      },
                      "description": "Field-level validation errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "The client exceeded the rate limit of 200 requests per minute per IP address. Returns `rate_limited`. Wait for the `Retry-After` header before retrying.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Machine-readable error code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      },
                      "description": "Field-level validation errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred while processing the request. Returns `internal_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Machine-readable error code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      },
                      "description": "Field-level validation errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/snapshots": {
      "get": {
        "summary": "List time-tracking snapshots",
        "description": "Returns time-tracking snapshots for contracts the caller can access. `fromDate` and `toDate` are required, in `YYYY-MM-DD` (UTC), and the range must not exceed 14 days. Optionally restrict the result to specific `contractIds`. Requesting a contract the caller cannot access returns `403`.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Snapshots"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Start date in YYYY-MM-DD format",
              "example": "2026-08-01"
            },
            "required": true,
            "name": "fromDate",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "End date in YYYY-MM-DD format. Maximum span is 14 days",
              "example": "2026-08-14"
            },
            "required": true,
            "name": "toDate",
            "in": "query"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "maxItems": 250,
              "example": [
                "6137109712adad9757ab0e35"
              ]
            },
            "required": false,
            "name": "contractIds",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000,
              "default": 100
            },
            "required": false,
            "name": "itemsPerPage",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of snapshots in the requested date range. Discarded snapshots are omitted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "string",
                            "nullable": true
                          },
                          "loggedMinutes": {
                            "type": "number"
                          },
                          "contractId": {
                            "type": "string"
                          },
                          "isManual": {
                            "type": "boolean"
                          },
                          "isDeleted": {
                            "type": "boolean"
                          },
                          "activity": {
                            "type": "object",
                            "properties": {
                              "percentage": {
                                "type": "number"
                              },
                              "keyboard": {
                                "type": "number"
                              },
                              "mouseClick": {
                                "type": "number"
                              },
                              "mouseScroll": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "percentage",
                              "keyboard",
                              "mouseClick",
                              "mouseScroll"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "timestamp",
                          "loggedMinutes",
                          "contractId",
                          "isManual",
                          "isDeleted",
                          "activity"
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "currentPage": {
                          "type": "number"
                        },
                        "itemsPerPage": {
                          "type": "number"
                        },
                        "pagesCount": {
                          "type": "number"
                        },
                        "totalCount": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "currentPage",
                        "itemsPerPage",
                        "pagesCount",
                        "totalCount"
                      ]
                    }
                  },
                  "required": [
                    "results",
                    "pagination"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request body or query parameters failed validation. Returns `validation_error` and field-level `details`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Machine-readable error code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      },
                      "description": "Field-level validation errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. The Bearer token is missing, invalid, expired, or not associated with a user. Common codes: `missing_token`, `invalid_token`, `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Machine-readable error code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      },
                      "description": "Field-level validation errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The token is not a client-credentials grant, or one or more `contractIds` are not accessible. Returns `forbidden`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Machine-readable error code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      },
                      "description": "Field-level validation errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "The client exceeded the rate limit of 200 requests per minute per IP address. Returns `rate_limited`. Wait for the `Retry-After` header before retrying.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Machine-readable error code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      },
                      "description": "Field-level validation errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred while processing the request. Returns `internal_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Machine-readable error code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      },
                      "description": "Field-level validation errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/timesheets": {
      "get": {
        "summary": "List timesheets",
        "description": "Returns hourly timesheet totals for the authenticated company over a UTC date range. Each item includes the contract and aggregated tracked time, activity, overtime, and billable amounts. Filter by team or contractor, and sort or paginate the results. The response also includes company-wide statistics for the same period.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Timesheets"
        ],
        "parameters": [
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "6137109712adad9757ab0e35"
              ]
            },
            "required": false,
            "name": "teamIds",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Start date in YYYY-MM-DD format",
              "example": "2026-08-01"
            },
            "required": true,
            "name": "fromDate",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "End date in YYYY-MM-DD format",
              "example": "2026-08-31"
            },
            "required": true,
            "name": "toDate",
            "in": "query"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "6137109712adad9757ab0e35"
              ]
            },
            "required": false,
            "name": "contractorIds",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            },
            "required": false,
            "name": "sortOrder",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "contract",
                "contractor",
                "trackedTime",
                "activity",
                "goMeter",
                "manual",
                "overtime",
                "billableTime",
                "billableAmount"
              ],
              "default": "contract"
            },
            "required": false,
            "name": "sortField",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            },
            "required": false,
            "name": "itemsPerPage",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of timesheets plus period-level `statistics`. If the caller has no accessible company, `results` is empty.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contract": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "rate": {
                                "type": "number",
                                "description": "Hourly pay rate"
                              },
                              "title": {
                                "type": "string"
                              },
                              "contractor": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "firstName": {
                                    "type": "string"
                                  },
                                  "lastName": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id"
                                ]
                              },
                              "employer": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "firstName": {
                                    "type": "string"
                                  },
                                  "lastName": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id"
                                ]
                              },
                              "team": {
                                "type": "object",
                                "nullable": true,
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "team"
                            ]
                          },
                          "statistics": {
                            "type": "object",
                            "properties": {
                              "billableMinutes": {
                                "type": "number"
                              },
                              "billedMinutes": {
                                "type": "number"
                              },
                              "manualMinutes": {
                                "type": "number"
                              },
                              "overtimeMinutes": {
                                "type": "number"
                              },
                              "trackedMinutes": {
                                "type": "number"
                              },
                              "activity": {
                                "type": "number"
                              },
                              "billableAmount": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "billableMinutes",
                              "billedMinutes",
                              "manualMinutes",
                              "overtimeMinutes",
                              "trackedMinutes",
                              "activity",
                              "billableAmount"
                            ]
                          }
                        },
                        "required": [
                          "contract",
                          "statistics"
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "currentPage": {
                          "type": "number"
                        },
                        "itemsPerPage": {
                          "type": "number"
                        },
                        "pagesCount": {
                          "type": "number"
                        },
                        "totalCount": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "currentPage",
                        "itemsPerPage",
                        "pagesCount",
                        "totalCount"
                      ]
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "billableMinutes": {
                          "type": "number"
                        },
                        "billedMinutes": {
                          "type": "number"
                        },
                        "manualMinutes": {
                          "type": "number"
                        },
                        "overtimeMinutes": {
                          "type": "number"
                        },
                        "trackedMinutes": {
                          "type": "number"
                        },
                        "activity": {
                          "type": "number"
                        },
                        "billableAmount": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "billableMinutes",
                        "billedMinutes",
                        "manualMinutes",
                        "overtimeMinutes",
                        "trackedMinutes",
                        "activity",
                        "billableAmount"
                      ]
                    }
                  },
                  "required": [
                    "results",
                    "pagination",
                    "statistics"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request body or query parameters failed validation. Returns `validation_error` and field-level `details`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Machine-readable error code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      },
                      "description": "Field-level validation errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed. The Bearer token is missing, invalid, expired, or not associated with a user. Common codes: `missing_token`, `invalid_token`, `unauthorized`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Machine-readable error code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      },
                      "description": "Field-level validation errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The token was accepted, but the caller is not allowed to access this resource. Common codes: `forbidden`, `inactive_user`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Machine-readable error code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      },
                      "description": "Field-level validation errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "The client exceeded the rate limit of 200 requests per minute per IP address. Returns `rate_limited`. Wait for the `Retry-After` header before retrying.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Machine-readable error code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      },
                      "description": "Field-level validation errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred while processing the request. Returns `internal_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Machine-readable error code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      },
                      "description": "Field-level validation errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}