{
  "openapi": "3.0.0",
  "info": {
    "title": "goLance External API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://external-api.golance.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/contracts": {
      "get": {
        "description": "List contracts with the assigned teams",
        "summary": "List Contracts",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Contracts"
        ],
        "parameters": [
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "disputing",
                  "closed",
                  "pending",
                  "paused",
                  "open"
                ]
              }
            },
            "required": false,
            "name": "statuses",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 100
            },
            "required": false,
            "name": "itemsPerPage",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Contract list response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "disputing",
                              "closed",
                              "pending",
                              "paused",
                              "open"
                            ]
                          },
                          "contractor": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id"
                            ]
                          },
                          "employer": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id"
                            ]
                          },
                          "team": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "status",
                          "team"
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "currentPage": {
                          "type": "number"
                        },
                        "itemsPerPage": {
                          "type": "number"
                        },
                        "pagesCount": {
                          "type": "number"
                        },
                        "totalCount": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "currentPage",
                        "itemsPerPage",
                        "pagesCount",
                        "totalCount"
                      ]
                    }
                  },
                  "required": [
                    "results",
                    "pagination"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/scheduled-payments": {
      "get": {
        "description": "List scheduled payments on fixed-price contracts",
        "summary": "List Scheduled Payments",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Scheduled Payments"
        ],
        "parameters": [
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "6137109712adad9757ab0e35"
              ]
            },
            "required": false,
            "name": "teamIds",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Start date in YYYY-MM-DD format",
              "example": "2023-01-01"
            },
            "required": true,
            "name": "fromDate",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "End date in YYYY-MM-DD format",
              "example": "2023-01-31"
            },
            "required": true,
            "name": "toDate",
            "in": "query"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "6137109712adad9757ab0e35"
              ]
            },
            "required": false,
            "name": "contractorIds",
            "in": "query"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "upcoming",
                  "processing",
                  "failed",
                  "paid",
                  "deleted"
                ]
              },
              "example": [
                "upcoming",
                "paid"
              ]
            },
            "required": false,
            "name": "scheduledPaymentStatuses",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "required": false,
            "name": "sortOrder",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "scheduledPaymentOn",
                "date",
                "budget",
                "paidAmount",
                "scheduledPaymentStatus",
                "contract",
                "contractor"
              ],
              "default": "scheduledPaymentOn"
            },
            "required": false,
            "name": "sortField",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            },
            "required": false,
            "name": "itemsPerPage",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Scheduled payment list response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "number"
                          },
                          "paidAmount": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "upcoming",
                              "processing",
                              "failed",
                              "paid",
                              "deleted"
                            ]
                          },
                          "scheduledPaymentOn": {
                            "type": "string",
                            "nullable": true,
                            "description": "Scheduled payment date (ISO 8601)"
                          },
                          "contract": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "contractor": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "firstName": {
                                    "type": "string"
                                  },
                                  "lastName": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id"
                                ]
                              },
                              "employer": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "firstName": {
                                    "type": "string"
                                  },
                                  "lastName": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id"
                                ]
                              },
                              "team": {
                                "type": "object",
                                "nullable": true,
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "team"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "amount",
                          "paidAmount",
                          "status",
                          "scheduledPaymentOn",
                          "contract"
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "currentPage": {
                          "type": "number"
                        },
                        "itemsPerPage": {
                          "type": "number"
                        },
                        "pagesCount": {
                          "type": "number"
                        },
                        "totalCount": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "currentPage",
                        "itemsPerPage",
                        "pagesCount",
                        "totalCount"
                      ]
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "contractsCount": {
                          "type": "number"
                        },
                        "scheduledPaymentsCount": {
                          "type": "number"
                        },
                        "paidScheduledPaymentsCount": {
                          "type": "number"
                        },
                        "totalScheduledPaymentsPaidAmount": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "contractsCount",
                        "scheduledPaymentsCount",
                        "paidScheduledPaymentsCount",
                        "totalScheduledPaymentsPaidAmount"
                      ]
                    }
                  },
                  "required": [
                    "results",
                    "pagination",
                    "statistics"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/snapshots": {
      "get": {
        "description": "List time-tracking snapshots",
        "summary": "List Snapshots",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Snapshots"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Start date in YYYY-MM-DD format",
              "example": "2026-08-01"
            },
            "required": true,
            "name": "fromDate",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "End date in YYYY-MM-DD format. Maximum span is 14 days",
              "example": "2026-08-14"
            },
            "required": true,
            "name": "toDate",
            "in": "query"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "maxItems": 250,
              "example": [
                "6137109712adad9757ab0e35"
              ]
            },
            "required": false,
            "name": "contractIds",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000,
              "default": 100
            },
            "required": false,
            "name": "itemsPerPage",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Snapshot list response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "string",
                            "nullable": true
                          },
                          "loggedMinutes": {
                            "type": "number"
                          },
                          "contractId": {
                            "type": "string"
                          },
                          "isManual": {
                            "type": "boolean"
                          },
                          "isDeleted": {
                            "type": "boolean"
                          },
                          "activity": {
                            "type": "object",
                            "properties": {
                              "percentage": {
                                "type": "number"
                              },
                              "keyboard": {
                                "type": "number"
                              },
                              "mouseClick": {
                                "type": "number"
                              },
                              "mouseScroll": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "percentage",
                              "keyboard",
                              "mouseClick",
                              "mouseScroll"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "timestamp",
                          "loggedMinutes",
                          "contractId",
                          "isManual",
                          "isDeleted",
                          "activity"
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "currentPage": {
                          "type": "number"
                        },
                        "itemsPerPage": {
                          "type": "number"
                        },
                        "pagesCount": {
                          "type": "number"
                        },
                        "totalCount": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "currentPage",
                        "itemsPerPage",
                        "pagesCount",
                        "totalCount"
                      ]
                    }
                  },
                  "required": [
                    "results",
                    "pagination"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/timesheets": {
      "get": {
        "description": "List hourly contract timesheets",
        "summary": "List Timesheets",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Timesheets"
        ],
        "parameters": [
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "6137109712adad9757ab0e35"
              ]
            },
            "required": false,
            "name": "teamIds",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Start date in YYYY-MM-DD format",
              "example": "2023-01-01"
            },
            "required": true,
            "name": "fromDate",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "End date in YYYY-MM-DD format",
              "example": "2023-01-31"
            },
            "required": true,
            "name": "toDate",
            "in": "query"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "6137109712adad9757ab0e35"
              ]
            },
            "required": false,
            "name": "contractorIds",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            },
            "required": false,
            "name": "sortOrder",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "contract",
                "contractor",
                "trackedTime",
                "activity",
                "goMeter",
                "manual",
                "overtime",
                "billableTime",
                "billableAmount"
              ],
              "default": "contract"
            },
            "required": false,
            "name": "sortField",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            },
            "required": false,
            "name": "itemsPerPage",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Timesheet list response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contract": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "rate": {
                                "type": "number",
                                "description": "Hourly pay rate"
                              },
                              "title": {
                                "type": "string"
                              },
                              "contractor": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "firstName": {
                                    "type": "string"
                                  },
                                  "lastName": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id"
                                ]
                              },
                              "employer": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "firstName": {
                                    "type": "string"
                                  },
                                  "lastName": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id"
                                ]
                              },
                              "team": {
                                "type": "object",
                                "nullable": true,
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "team"
                            ]
                          },
                          "statistics": {
                            "type": "object",
                            "properties": {
                              "billableMinutes": {
                                "type": "number"
                              },
                              "billedMinutes": {
                                "type": "number"
                              },
                              "manualMinutes": {
                                "type": "number"
                              },
                              "overtimeMinutes": {
                                "type": "number"
                              },
                              "trackedMinutes": {
                                "type": "number"
                              },
                              "activity": {
                                "type": "number"
                              },
                              "billableAmount": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "billableMinutes",
                              "billedMinutes",
                              "manualMinutes",
                              "overtimeMinutes",
                              "trackedMinutes",
                              "activity",
                              "billableAmount"
                            ]
                          }
                        },
                        "required": [
                          "contract",
                          "statistics"
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "currentPage": {
                          "type": "number"
                        },
                        "itemsPerPage": {
                          "type": "number"
                        },
                        "pagesCount": {
                          "type": "number"
                        },
                        "totalCount": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "currentPage",
                        "itemsPerPage",
                        "pagesCount",
                        "totalCount"
                      ]
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "billableMinutes": {
                          "type": "number"
                        },
                        "billedMinutes": {
                          "type": "number"
                        },
                        "manualMinutes": {
                          "type": "number"
                        },
                        "overtimeMinutes": {
                          "type": "number"
                        },
                        "trackedMinutes": {
                          "type": "number"
                        },
                        "activity": {
                          "type": "number"
                        },
                        "billableAmount": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "billableMinutes",
                        "billedMinutes",
                        "manualMinutes",
                        "overtimeMinutes",
                        "trackedMinutes",
                        "activity",
                        "billableAmount"
                      ]
                    }
                  },
                  "required": [
                    "results",
                    "pagination",
                    "statistics"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Too many requests"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/auth/token": {
      "post": {
        "description": "Retrieve an access token using OAuth2 client credentials grant",
        "summary": "Create Access Token",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clientId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "clientSecret": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "clientId",
                  "clientSecret"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accessToken": {
                      "type": "string"
                    },
                    "tokenType": {
                      "type": "string",
                      "enum": [
                        "Bearer"
                      ]
                    },
                    "expiresIn": {
                      "type": "number",
                      "minimum": 0,
                      "description": "Expiration time in seconds"
                    }
                  },
                  "required": [
                    "accessToken",
                    "tokenType",
                    "expiresIn"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Invalid client credentials"
          },
          "500": {
            "description": "Failed to create access token"
          }
        }
      }
    }
  }
}